

.grid {
    height: 600px;
    width: 600px;
    border: 5px solid black;
    border-radius: 10px;
    display: grid;
    background-color: lightgrey;
}

.grid-element {
    user-select: none;
  }

  #slider{
    -webkit-appearance: none;
    background: black;
    outline: none;
    border-radius: 50px;
}

  button{

}

/* .gridRow {
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    width: 6px;
    height: 6px;
} */

/* .cell {
    border: 1px solid gray;
    min-width: 10px;
    min-height: 20px;
    display: inline-block;
  } */